In [1]:
import pandas as pd

# Process Data

In [33]:
# Open file
df = pd.read_csv("data/out.csv")

In [34]:
# Preprocess dataframe
df["CYCLES_MULTIPLE_OF_NB_CARDS_LIST"] = df["CYCLES_MULTIPLE_OF_NB_CARDS"].str.split(",")

In [35]:
df.sort_values("NB_CARDS")

,NB_VALUES,NB_COLORS,NB_CARDS,ENDINGS_1_WINS,ENDINGS_2_WINS,ENDINGS_CYCLE,ENDINGS_EQUALITY,NB_GAMES_FINISHED,NB_GAMES_CYCLE,CYCLES_MULTIPLE_OF_NB_CARDS,CYCLES_NUMBER_FOUND,CYCLES_MULTIPLE_OF_NB_CARDS_LIST
0,1,1,1,0,0,0,100,100,0,NaN,NaN,NaN
10,2,1,2,56,44,0,0,100,0,NaN,NaN,NaN
1,1,2,2,0,0,0,100,100,0,NaN,NaN,NaN
2,1,3,3,0,0,0,100,100,0,NaN,NaN,NaN
20,3,1,3,36,64,0,0,100,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
79,8,10,80,50,47,3,0,97,3,"1.0,4.0,391.0","1,1,1","[1.0, 4.0, 391.0]"
88,9,9,81,67,33,0,0,100,0,NaN,NaN,NaN
89,9,10,90,65,35,0,0,100,0,NaN,NaN,NaN
98,10,9,90,52,42,6,0,94,6,"2.0,6.0,416.0,476.0","3,1,1,1","[2.0, 6.0, 416.0, 476.0]"
99,10,10,100,52,40,8,0,92,8,"1.0,6.0","7,1","[1.0, 6.0]"

# Analysis

## Cycle size VS minimum number of cards

In [61]:
# Get maximum cycle size
cycles_size_col = df["CYCLES_MULTIPLE_OF_NB_CARDS_LIST"].to_list()
cycles_size_col_without_nan = [ i for i in cycles_size_col if isinstance(i, list) ]
n = int(max([float(item) for sublist in cycles_size_col_without_nan for item in sublist]))
# Get min nb cards to get this cycle multiple
result = {}
for cycle_multiple in range(1, n+1):
    nb_cards = df.loc[df["CYCLES_MULTIPLE_OF_NB_CARDS_LIST"].str.contains("%s.0" %cycle_multiple, regex=False, na=False), "NB_CARDS"].min()
    result[cycle_multiple] = nb_cards

In [62]:
for key, value in result.items():
    print(key, value)

1 4
2 6
3 8
4 10
5 12
6 10
7 16
8 18
9 20
10 14
11 nan
12 14
13 nan
14 18
15 16
16 nan
17 nan
18 nan
19 nan
20 12
21 20
22 nan
23 nan
24 nan
25 nan
26 30
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 24
36 nan
37 nan
38 nan
39 32
40 nan
41 nan
42 nan
43 nan
44 30
45 28
46 nan
47 nan
48 nan
49 nan
50 nan
51 40
52 nan
53 nan
54 nan
55 32
56 30
57 nan
58 nan
59 nan
60 nan
61 nan
62 nan
63 32
64 nan
65 36
66 50
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 42
81 nan
82 nan
83 nan
84 50
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 40
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 40
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
123 nan
124 nan
125 nan
126 50
127 nan
128 nan
129 nan
130 nan
131 nan
132 nan
133 nan
134 nan
135 nan
136 nan
137 nan
138 nan
139 nan
140 nan
141 nan
142 nan
143 48
144 50
145 nan
146 nan
147 nan
148 nan
149 nan
150 nan
151 nan
152 nan
153 nan
154 50
155 nan
156 50
157 nan
158 nan
159 nan
160 nan
161 nan
162 nan
163 nan
164 nan
165 nan
166 nan
167 nan
168 nan
169 nan
170 nan
171 56
172 nan
173 nan
174 nan
175 nan
176 nan
177 nan
178 nan
179 nan
180 nan
181 nan
182 nan
183 nan
184 nan
185 nan
186 nan
187 56
188 nan
189 nan
190 nan
191 nan
192 nan
193 nan
194 nan
195 56
196 nan
197 nan
198 nan
199 nan
200 nan
201 nan
202 nan
203 nan
204 nan
205 nan
206 nan
207 nan
208 nan
209 60
210 nan
211 nan
212 nan
213 nan
214 nan
215 nan
216 nan
217 nan
218 nan
219 nan
220 nan
221 60
222 nan
223 nan
224 nan
225 nan
226 nan
227 nan
228 nan
229 nan
230 nan
231 nan
232 nan
233 nan
234 70
235 nan
236 nan
237 nan
238 nan
239 nan
240 nan
241 nan
242 nan
243 nan
244 nan
245 nan
246 nan
247 64
248 nan
249 nan
250 nan
251 nan
252 nan
253 nan
254 nan
255 nan
256 nan
257 nan
258 nan
259 nan
260 nan
261 nan
262 nan
263 nan
264 70
265 nan
266 nan
267 nan
268 nan
269 nan
270 nan
271 nan
272 nan
273 nan
274 nan
275 nan
276 nan
277 nan
278 nan
279 nan
280 nan
281 nan
282 nan
283 nan
284 nan
285 nan
286 nan
287 nan
288 nan
289 nan
290 nan
291 nan
292 nan
293 nan
294 nan
295 nan
296 nan
297 nan
298 nan
299 nan
300 nan
301 nan
302 nan
303 nan
304 nan
305 nan
306 nan
307 nan
308 nan
309 nan
310 nan
311 nan
312 nan
313 nan
314 nan
315 nan
316 nan
317 nan
318 nan
319 nan
320 nan
321 nan
322 nan
323 nan
324 nan
325 nan
326 nan
327 nan
328 nan
329 nan
330 nan
331 nan
332 nan
333 nan
334 nan
335 nan
336 nan
337 nan
338 nan
339 nan
340 nan
341 nan
342 nan
343 nan
344 nan
345 nan
346 nan
347 nan
348 nan
349 nan
350 nan
351 nan
352 nan
353 nan
354 nan
355 nan
356 nan
357 nan
358 nan
359 nan
360 nan
361 nan
362 nan
363 nan
364 nan
365 nan
366 nan
367 nan
368 nan
369 nan
370 nan
371 nan
372 nan
373 nan
374 nan
375 nan
376 nan
377 nan
378 nan
379 nan
380 nan
381 nan
382 nan
383 nan
384 nan
385 nan
386 nan
387 nan
388 nan
389 nan
390 nan
391 80
392 nan
393 nan
394 nan
395 nan
396 nan
397 nan
398 nan
399 nan
400 nan
401 nan
402 nan
403 nan
404 nan
405 nan
406 nan
407 nan
408 nan
409 nan
410 nan
411 nan
412 nan
413 nan
414 nan
415 nan
416 90
417 nan
418 nan
419 nan
420 nan
421 nan
422 nan
423 nan
424 nan
425 nan
426 nan
427 nan
428 nan
429 nan
430 nan
431 nan
432 nan
433 nan
434 nan
435 nan
436 nan
437 nan
438 nan
439 nan
440 nan
441 nan
442 nan
443 nan
444 nan
445 nan
446 nan
447 nan
448 nan
449 nan
450 nan
451 nan
452 nan
453 nan
454 nan
455 nan
456 nan
457 nan
458 nan
459 nan
460 nan
461 nan
462 nan
463 nan
464 nan
465 nan
466 nan
467 nan
468 nan
469 nan
470 nan
471 nan
472 nan
473 nan
474 nan
475 nan
476 90

In [63]:
df.loc[df["CYCLES_MULTIPLE_OF_NB_CARDS_LIST"].str.contains("12.0", regex=False, na=False), "NB_CARDS"]

16    14
36    28
56    42
63    28
67    56
76    56
Name: NB_CARDS, dtype: int64

Conclusion :
- for one cycle size, this size will appear again for each multiple of the minimun number of cards where it appears first. Example : for the cycle size 12, it appears for the number of cards 14, 28, 42, 56...
- Even for multiples of the first nb_cards, it will sometimes not appear (investigate the number of values and colors)

In [66]:
df.loc[df["NB_CARDS"].isin([14, 28, 42, 56]), ["NB_VALUES", "NB_COLORS", "NB_CARDS", "CYCLES_MULTIPLE_OF_NB_CARDS_LIST"]]

    NB_VALUES  NB_COLORS  NB_CARDS       CYCLES_MULTIPLE_OF_NB_CARDS_LIST
16          2          7        14                      [6.0, 10.0, 12.0]
36          4          7        28                [1.0, 10.0, 12.0, 45.0]
56          6          7        42                      [2.0, 12.0, 80.0]
61          7          2        14                   [17.142857142857142]
63          7          4        28                 [1.0, 6.0, 10.0, 12.0]
65          7          6        42                                  [2.0]
67          7          8        56                            [1.0, 12.0]
76          8          7        56  [1.0, 6.0, 12.0, 171.0, 187.0, 195.0]